<kl-row>
    <kl-button title="panel" on-click={this.goto('panel')} class={current == 'panel' ? 'selected' : ''} />
    <kl-button title="kl-button" on-click={this.goto('kl-button')} class={current == 'kl-button' ? 'selected' : ''} />
    <kl-button title="regular" on-click={this.goto('regular')} class={current == 'regular' ? 'selected' : ''} />
    <kl-button title="kl-textarea" on-click={this.goto('kl-textarea')} class={current == 'kl-textarea' ? 'selected' : ''} />
    <kl-button title="kl-form" on-click={this.goto('kl-form')} class={current == 'kl-form' ? 'selected' : ''} />
    <kl-button title="kl-input" on-click={this.goto('kl-input')} class={current == 'kl-input' ? 'selected' : ''} />
    <kl-button title="kl-multi-select" on-click={this.goto('kl-multi-select')} class={current == 'kl-multi-select' ? 'selected' : ''} />
    <kl-button title="kl-tabs" on-click={this.goto('kl-tabs')} class={current == 'kl-tabs' ? 'selected' : ''} />
    <kl-button title="kl-upload" on-click={this.goto('kl-upload')} class={current == 'kl-upload' ? 'selected' : ''} />
    <kl-button title="func-validation" on-click={this.goto('func-validation')} class={current == 'func-validation' ? 'selected' : ''} />
    <kl-button title="kl-table" on-click={this.goto('kl-table')} class={current == 'kl-table' ? 'selected' : ''} />
    <kl-button title="kl-date-picker" on-click={this.goto('kl-date-picker')} class={current == 'kl-date-picker' ? 'selected' : ''} />
</kl-row>