.module{
    padding: 20px;
    border-bottom: 1px solid #bbb;
    font-size: 14px;
}
.drag-ctn{
	height: 190px;
	border: 1px solid #eee;
	margin-right: 20px;
	padding: 0;
}
img{
	width: 100%;
	height: 100%;
}